<h1<%= @flat.name %>></h1>
<h2><%= @flat.address %></h2>
<p>Price per night: $<%= @flat.price_per_night %></p>
<p>Number of guests: <%= @flat.number_of_guests %></p>
<p><%= @flat.description %></p>


<%= link_to "Edit this flat", edit_flat_path(@flat), class: "btn btn-primary" %>
<%= link_to "Delete this flat", flat_path(@flat), method: :delete, data: { confirm: "Delete #{@flat.name}?" }, class: "btn btn-primary" %>
